
/**
 * @file
 * Styles for Navbar.
 */

/* Style the search form added to the navbar */
.navbar .search-form {
  padding: 0.75em 1.3333em 0 1.3333em;
}
.navbar .search-form input.form-submit {
  margin-top: -0.25em;
  margin-bottom: 0.5em;
}

/* Position */
.navbar .title-full,
.navbar .logo-full {
  float: left;
}

/* Keep pinned at all times
.js .navbar .bar {
  position: fixed;
} */

#navbar-bar .navbar-wrapper, #navbar-bar .header-wrapper {
  max-width: 1290px;
  margin: 0 auto;
}

#navbar-bar .navbar-wrapper-background {
  height: 39px;
}

/* Also add active icons on hover, because our colors need this */
.icon-home:hover:before {
  background-image: url("../images/icon-home-active.png");
}
.icon-menu:hover:before {
  background-image: url("../images/icon-menu-active.png");
}
.icon-user:hover:before {
  background-image: url("../images/icon-user-active.png");
}
.icon-shortcut:hover:before {
  background-image: url("../images/shortcut-active.png");
}

/* Add handling for children of tabs */
#navbar-bar .tab {
  position:relative;
}
#navbar-bar .tab ul {
  display:none;
  position:absolute;
  background-color:#000;
}
#navbar-bar .tab:hover ul,
#navbar-bar .tab ul:hover {
  display:block;
}
#navbar-bar .tab ul li {
  border-top:solid 1px #FFF;
}
#navbar-bar .tab ul li a {
  padding: 1em 1.3333em;
  white-space: nowrap;
}

/* Effects */
#navbar-bar {
  box-shadow: none;
}

.navbar .bar {
  /*box-shadow: 0 0 2em 1px rgba(0, 0, 0, 0.3333);*/
}

/* Media queries */
@media only screen and (min-width: 16.5em) {
  /* Hide menu items at lowest breakpoint */
  .navbar .bar .menu-item {
    text-indent: -9999px;
    width: 0px;
  }
  /* Fix odd behavior on hidden active menu items */
  .navbar .bar .menu-item > a.active {
    background-color: transparent;
  }
  /* Small logo */
  .navbar .logo-full img,
  .navbar .title-full img {
    height: 40px;
    width: auto;
  }
}

@media only screen and (min-width: 36em) {
  /* Reset */
  .navbar .bar .menu-item {
    text-indent: 0;
    width: auto;
  }
  /* Hide custom menu icon when not at the lowest breakpoint */
  .js .navbar .bar .main-menu {
    display: none;
  }
  /* Full size logo */
  .navbar .logo-full img,
  .navbar .title-full img {
    /* Todo resize actual images to be 100px, then change height to auto */
    height: 89px;
    width: auto;
  }
  /* Reset visible active menu items (see fix above) */
  .navbar .bar .menu-item > a.active {
    color: #fff;
  }
}

/* Allow admin menu and navbar to be used together */
#admin-menu, #admin-menu .dropdown {
  z-index:1300;
}
